<footer class="navbar background-gray-light">
  <ul role="list" class="layout-flex">
    <li><a href="#">Products</a></li>
    <li><a href="#">Pricing</a></li>
    <li><a href="#">Contact Us</a></li>
    <li><a href="#" class="button">Sign Up</a></li>
  </ul>
</footer>
