<header role="banner">
  <nav class="navbar navbar--divided background-primary">
    <a class="navbar-image" href="/">
      <span class="logo">Home</span>
    </a>
    <ul role="list" class="layout-flex">
      <li><a href="/posts/1">Blog</a></li>
    </ul>
  </nav>
</header>
